#logoEsos{
	width: 120px;
	height: 60px;
}
header#header{
	background-color: red;
}
#banner{

	background: url(../../images/banner2.jpg);

}

.nav-wrapper{
	background-color: #C43950;
}

#fondoAlertas{
	background-color: #D8D8D8;
}

.contenedorAlertas{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;

}
#alertasOnemi{
	min-height: 255px;
	max-height: 255px;
	height: 255px;
	overflow-y: scroll;
}
#eventosActivos{
	min-height: 200px;
	max-height: 200px;
	height: 200px;
	overflow-y: scroll;
}
#historialEventos{
	min-height: 200px;
	max-height: 200px;
	height: 200px;
	overflow-y: scroll;
}

.contPrincipal{
	width: 95%;
	margin: 0 auto;
}

#cardBoard:hover {
	background-color: #F2F2F2;
}
#cardBoard{

}
.card-action{
	text-align: center;
}
.card-content{
	text-align: center;
}
.modal{
	max-height: 100%;
	overflow: visible; 
}

#boton{
	background-color: #C43950;
}
